<section id="cfp">
  <div class="container">
    <div class="main-text">
      <h3>Submission Requirements</h3>

      <p>Submissions to AKBC 2019 limited to 15 pages of content, and may contain unlimited references. Appendices can be included beyond the references in the same PDF file, but may be ignored by the reviewers. Submissions significantly shorter than 15 pages will not be penalized for length.</p>

      <p>We will follow a double-blind review process, and thus the submissions should not have any identifiable information about the authors. This includes not only the authors on the first page, but also any other information that betrays the identity, such as using first person pronouns when self-citing, URLs that include name of the authors/organization, etc. These restrictions apply to the appendices as well.</p>

      <p>All submissions must be formatted with LaTeX using the following LaTeX source: <a href="akbc-latex.zip">http://www.akbc.ws/2019/akbc-latex.zip</a></p>
      <p>For submission, do not include the <font face="Courier New">\finalcopy</font> flag. Submissions with the default JAIR format will also be acceptable, as long as author identity is omitted.</p>

      <p>Note that submissions will be made publicly available immediately after the submission deadline (see the review process for more details).</p>

      <p>Submission Link: <a href="https://openreview.net/group?id=AKBC.ws/2019/Conference">https://openreview.net/group?id=AKBC.ws/2019/Conference</a></p>
      <p>(Submissions due November 16th, 2018, by midnight Pacific time)</p>

      <h3>Reviewing Process</h3>
      <p>We are following an open reviewing paradigm that solicits public discussion of the reviews, and allows authors to submit revisions that address reviewer comments, before decisions are made.
The contents of all reviews will be public and generally visible to users logged into <a href="https://www.openreview.net">OpenReview.net</a>. The contents of submitted reviews are not visible by reviewers who have not submitted their own reviews. Reviewer names are only visible to the area chairs (and are <i>not</i> visible to the public, other reviewers, or the authors).
        </p>

      <p>Our expected timeline is:</p>
      <ul>
        <li>November 16: <em>Submissions due</em>.
        <li>November 17- January 9th: <em>Reviewing Stage</em>.
          <ul>
            <li>Submissions are available online, no revisions allowed.
            <li>Reviewers and authors can submit comments anonymously.
            <li>Anyone else can comment in a non-anonymous manner (not visible to reviewers).
          </ul>
        <li>January 9th-February 10th: <em>Rebuttal Stage</em>.
          <ul>
            <li>Authors are allowed to submit revisions, and further discussion continues.
          </ul>
        <li>February 15th: <em>Decisions and Meta-reviews available</em>.
      </ul>
      <p>Please forward any questions about the reviewing process to
      <a href="mailto:info@akbc.ws">info@akbc.ws</a>.</p>

      <p>We invite the submission of papers describing previously unpublished research, including new methodology, datasets, evaluations, surveys, reproduced results, negative results, and visionary positions.</p>

      <p>Topics of interest include, but are not limited to:</p>
      <ul>
	<li>Natural language processing, information extraction, extraction of entities, relations, and events, semantic parsing, coreference, machine reading, entailment, web mining, multilingual NLP.
	<li>Information integration, entity resolution, schema & ontology alignment, text and structure alignment, federated KBs, Semantic Web.
	<li>Machine learning, supervised, unsupervised, lightly-supervised and distantly-supervised learning, deep learning, symbolic learning, multimodal learning, embeddings of knowledge.
	<li>Search, question-answering, reasoning, knowledge base completion, queries on mixtures of structured and unstructured data; querying under uncertainty.
	<li>Multi-modal knowledge bases: structured data, text, images, video, audio.
	<li>Human-computer interaction, crowdsourcing, interactive learning.
	<li>Fairness, accountability, transparency, misinformation, multiple viewpoints, uncertainty.
	<li>Databases, probabilistic databases, distributed databases, database cleaning, scalable computation, distributed computation, dynamic data, online adaptation of knowledge.
	<li>Systems, languages and toolkits, demonstrations of existing knowledge bases.
	<li>Evaluation of AKBC, datasets, evaluation methodology.
      </ul>

      <p>Authors of accepted papers will have the option for their conference paper to be archival (with full text in AKBC Proceedings, and be considered for best paper awards) or non-archival (listed in AKBC Conference schedule, with full text in OpenReview, and the flexibility to also submit elsewhere).  Double-blind reviewing will be performed on the OpenReview platform, with papers, reviews and comments publicly visible, much like ICLR 2018.</p>

      <p>Papers should be submitted in JAIR format (which is single-column), restricted to 15 pages excluding references (the equivalent of about 8 pages double column).  Submission site: <a href="../submission.html">http://www.akbc.ws/2019/submission.html</a>.</p>

      <p>Dual Submission Policy: Submissions that are identical (or substantially similar) to versions that have been previously published, or accepted for publication, are not allowed and violate our dual submission policy.  However, papers that cite previous related work by the authors and papers that have appeared on non-peered reviewed websites (like arXiv) or that have been presented at workshops (i.e., venues that do not have publication proceedings) do not violate the policy. The policy is enforced during the whole reviewing process period.</p>
    </div>
    <br>
  </div>
</section>
